w:root {
    --white: #ffffff;
    --blue: #1f9eff;
}

#heading {
    color: var(--white);
    text-align: center;
    display: flex;
}   

#headingText {
    font-size: 4em;
    margin-left: 5%;
    margin-right: 74%;
    margin-top: .25%;
    margin-bottom: .25;
}

#signIn {
    width: 6%;
    height: 1%;
    margin-top: .9%;
    color: var(--white);
    font-size: 1.75em;
    color: inherit;
    background-color: inherit;
    border: none;
}

#signIn:focus {
    outline: none;
    box-shadow: none;
}

#signIn:hover {
    outline: none;
    box-shadow: none;
}

.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   
    width: 75%;
}

.bookCard {
    border-radius: 7%;
    color: var(--white); 
    margin-top: 10%;
    margin-left: 10%;
}

#cardHeader {
    text-align: center;
    font-size: 3em;
    font-style: italic;
}

.bookDetails {
    line-height: 2em;
    list-style: none;
    margin-top: 25%;
    font-size: 1.5em;
}

.card {
    width: 18em;
    height: 22em;
    border: none;
    align-items: center;
   
}

.card-body {
    border-radius: 7%;
} 

#modalBtn {
   border: none;
   color: inherit;
   background-color: inherit;
}

#modalBtn:focus {
    outline: none;
    box-shadow: none;
}

.modal-title {
    color: var(--white);
}

#modalX {
    color: var(--white);
    opacity: 1;
}

span {
    color: var(--white);
}

svg {
    font-size: 15em;
    margin-top: 10%;
    color: var(--white);

}

.libraryStats {
    width: 20%;
    margin-left: 78%;
    height: 100%;
    font-size: 1.55em;
    justify-content: center;
    top: 10%;
    position: fixed;
}

#libInfo {
    text-align: center;
    font-size: 1.5em;
    margin-top: 6%;
    margin-bottom: 5%;
}

.bookInfo {
    line-height: 2em;
}

.numbers {
    text-align: right;
    margin-left: -100%;
}

.spacer {
    margin-bottom: 39%;
}

.storageArea {
  margin-bottom: 8%;
}

.storage {
    font-size: 1.25em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.storageButtons {
    text-align: center;
    margin-left: 5%;
    height: 2.9em;
    width: 40%;
}

.madeBy {
    font-size: .65em;
    text-align: center;
}

#checkBox { 
    margin-left: 20%;
}

